body{
  background-color: lightgray;
}
.container {  display: grid;
  grid-template-columns: 0.4fr 0.5fr 0.6fr;
  grid-template-rows: 0.7fr 1.7fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Nav Main Main"
    "Footer Footer Footer";
}

.Header { grid-area: Header; }

.Nav { grid-area: Nav; }

.Main { grid-area: Main; }

.Footer { grid-area: Footer; }

li:nth-child(even){
  background-color: rgb(60, 179, 113);
}

table, tr, th{
  text-align: left;
  padding: 12px;
  background-color: lightyellow; 
  border: 5px solid black; 
  font-size: 1.5em;
}

th{
  color: white;
  background-color: black;
}

h1, h2{
  font-family: sans-serif;
}
tr:nth-child(odd){
  background-color: lightblue;
}

th, td{
  font-size: 15px;
  font-family: serif;
}

footer{
  text-align: center;
}
